<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/data/jpa https://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <import resource="dataContext.xml"/>

    <context:component-scan base-package="com.improving.bookstore"/>

    <bean id="addGenreInteractor" class="com.improving.bookstore.interactors.AddGenreInteractor">
        <constructor-arg ref="genreRepository"/>
    </bean>

    <bean id="bookSaleInteractor" class="com.improving.bookstore.interactors.BookSaleInteractor">
        <constructor-arg ref="bookRepository"/>
    </bean>

    <bean id="deleteGenreInteractor" class="com.improving.bookstore.interactors.DeleteGenreInteractor">
        <constructor-arg index="0" ref="genreRepository"/>
        <constructor-arg index="1" ref="bookRepository"/>
    </bean>

    <bean id="purchaseBookInteractor" class="com.improving.bookstore.interactors.PurchaseBookInteractor">
        <constructor-arg index="0" ref="bookRepository"/>
        <constructor-arg index="1" ref="authorRepository"/>
        <constructor-arg index="2" ref="genreRepository"/>
    </bean>

    <bean id="retrieveAllAuthorsInteractor" class="com.improving.bookstore.interactors.RetrieveAllAuthorsInteractor">
        <constructor-arg ref="authorRepository"/>
    </bean>

    <bean id="retrieveAllBooksInteractor" class="com.improving.bookstore.interactors.RetrieveAllBooksInteractor">
        <constructor-arg ref="bookRepository"/>
    </bean>

    <bean id="retrieveAllGenresInteractor" class="com.improving.bookstore.interactors.RetrieveAllGenresInteractor">
        <constructor-arg ref="genreRepository"/>
    </bean>

    <bean id="retrieveBooksByAuthorInteractor" class="com.improving.bookstore.interactors.RetrieveBooksByAuthorInteractor">
        <constructor-arg ref="bookRepository"/>
    </bean>

    <bean id="retrieveBooksByGenreInteractor" class="com.improving.bookstore.interactors.RetrieveBooksByGenreInteractor">
        <constructor-arg ref="bookRepository"/>
    </bean>

    <bean id="retrieveBooksByTitleInteractor" class="com.improving.bookstore.interactors.RetrieveBooksByTitleInteractor">
        <constructor-arg ref="bookRepository"/>
    </bean>

    <bean id="sellBooksInteractor" class="com.improving.bookstore.interactors.SellBookInteractor">
        <constructor-arg ref="bookRepository"/>
    </bean>

</beans>